# Python cache directories
Python_FDR/py/__pycache__/


# Simulation output and temporary files
**/output/*.v
**/output/*.graphml
**/output/*.json
**/output/ser_analysis/
**/sim.daidir/
**/work/
**/csrc/
**/tmp/

# Ignore all JetBrains IDE config
.idea/

